/* ::root {
} */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}

.about > div > p {
  padding: 0px 40px;
  box-sizing: border-box;
  font-size: 19px;
}

.about > div {
  text-align: center;
}

.about > .hidden {
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(5px);
}
.about > .show {
  transition: all 1s;
  transform: translateX(00%);
  filter: blur(0px);
  opacity: 1;
}
.skillContainer {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
  background-color: lightblue;
  padding: 15px 0px;
}

.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 19px;
  font-size: 19px;
}
#expressSkill {
  border-radius: 50%;
}
.skill {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.skill > img {
  border-radius: 30%;
}
