/*  GROUP FOR EACH ACHIEVEMENT INTERACTIVE ELEMENT */
/* .group {
  width: 100vw;
} */
.achievement-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.description {
  white-space: pre-wrap;
  text-indent: 20px;

  padding: 0px 40px;
  box-sizing: border-box;
  font-size: 19px;
  max-width: 700px;
  text-align: left;
}

/* .description > * {
  animation-duration: 0.3s;
} */
.toggle {
  opacity: 0%;
  display: none;
}
.achievements > .description {
  background-color: white;
  margin-top: 5px;
  padding: 5px;
  /* border: 1px solid black; */
  position: absolute;
  max-width: 450px;
  left: 55%;
  top: 50px;
  animation: textappear 0.5s cubic-bezier(0.78, -0.43, 0.18, 1) 0s 1;
}

.header > p,
.description > h4 > p {
  font-size: 15px;
  font-weight: 100;
  margin: 0px;
  padding: 0px;
  color: rgb(97, 97, 97);
}

.hidetext {
  display: none;
}
.group {
  right: 50%;
}
.header-button {
  font-size: 17px;
  margin: 0px;

  background-color: unset;

  position: relative;
  margin-right: 25px;
  text-align: right;
}

.achievements > .group {
  position: absolute;
}

@media (max-width: 750px) {
  .achievements > .description {
    left: 39%;
  }
  .achievement-bar {
    align-items: start;
  }
  .header,
  .header > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
  }
  .header-button {
    min-width: 100px;
    text-align: start;
    width: auto;
  }
  .group {
    right: 65%;
  }

  .date {
    transform: translateX(-50%);
  }

  .description > .text {
    overflow-y: scroll;
    max-height: 400px;

    scrollbar-track-color: grey;
    scrollbar-arrow-color: white;
    scrollbar-width: thin;
  }
  .text:hover {
    scrollbar-width: auto;
    scrollbar-width: 100px;
  }
  .text::-webkit-scrollbar-track-piece {
    width: 10px;
  }
}
