
.mainNav{
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  

}

.navList{
  display: flex;
  align-items: center;

}

.navList>li{
  padding: 10px;
  list-style: none;

}
.navList>li>a{
  color: black;
  text-decoration: none;
  padding: 6px;
  transition: color 1s ease-out, background-color 0.5s ease-out;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.navList>li>a:hover{
  color: white;
  font-weight: bold;
  background-color: rgb(216, 216, 216);
  text-decoration: none;
}

/* .navList>.github{
  background-image: url('../img/Github.png');
  background-size: 10px 20px;
  display: inline-block;
  width: 10px; 
  height: 20px;
} */

.github{
  display: flex;
  align-items: center;
}
.navList>li>.imgLink:hover{
  color: unset;
  background-color: unset;
}