.mainNav {
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
}

.navList {
  display: flex;
  align-items: center;
}

.navList > li {
  padding: 10px;
  list-style: none;
}
.navList > li > a {
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: none;
  padding: 6px;
  transition: color 0.5s ease-out, font-size 0.25s ease-out, width 1s ease-out;
  background-color: white;
}
.navList > li > a::after {
  display: inline-block;
  transition: width 0.5s ease-out;
  content: "";
  width: 0px;
  border-bottom: 2px solid rgb(156, 210, 228);
}
.navList > li > a:hover::after {
  width: 80%;
}

.navList > li > a:hover {
  color: rgb(156, 210, 228);
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  /* border-bottom: 2px solid rgb(156, 210, 228); */
}

/* .navList>.github{
  background-image: url('../img/Github.png');
  background-size: 10px 20px;
  display: inline-block;
  width: 10px; 
  height: 20px;
} */

.github {
  display: flex;
  align-items: center;
}
.navList > li > .imgLink:hover {
  color: unset;
  background-color: unset;
}
@media (max-width: 450px) {
  .navList > li,
  .navList {
    padding: 0px;
  }
  .navList {
    padding-left: 15px;
  }

  .navList > li > a:hover {
    color: rgb(156, 210, 228);
    font-size: 12px;
    width: auto;
    /* border-bottom: 2px solid rgb(156, 210, 228); */
  }
  .navList > li > a:hover::after {
    width: auto;
  }
}
