
.mainNav{
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  

}

.navList{
  display: flex;

}

.navList>li{
  padding: 10px;
  list-style: none;

}
.navList>li>a{
  color: black;
  text-decoration: none;
  transition: color 1s ease-in-out;
  background-color: white;
}

.navList>li>a:hover{
  color: white;
  transition: color 2s ease-in-out;
  background-color: rgb(231, 231, 231);
  padding: 6px;
  border: 1px solid white;
  border-radius: 10px;
  text-decoration: none;
}