.App {
  text-align: center;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.home>h3>div{
  display: flex;
  flex-direction: column;
}

main>h1,h4{
  position: relative;
  animation: textflyin 1s ease-in-out 0s 1;
}
p{
  animation: textappear 2.5s cubic-bezier(.78,-0.43,.18,1) 0s 1;
}

.home{
  animation: flyin 1.8s ease-out 0s 1;
box-sizing: border-box;

}

/* each project card */
.home>h3{
  border: 1px solid black;
margin: 25px;
}
.links{
  padding: 10px;
}
.weblink{
  position: relative;
  top:2px;
}
.links>div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.links>img{
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  min-height: 80%;
  
}
.links>div>.link>a{
  color: black;
  text-decoration: none;
}
.links>div>.link:hover{
 background-color: rgb(218, 218, 218);
}
/* button WEbsite links*/
.links>div>.link{
background-color: white;
padding: 7px;
margin: 10px;
border: 1px solid black;
border-radius: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes textflyin {
  from {
    transform: translateY(-110vh);
  }
 
  to {
    transform: translateY(0px);
  }
}

@keyframes textappear {
  from {
    opacity: 0%;
  }
 
  to {
    opacity: 100%
  }
}

@keyframes flyin {
  from {
    transform: translateY(-900vh);
  }
 
  to {
    transform: translateY(0px);
  }
}