.App {
  text-align: center;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid black;
  height: 100vh;
}
.jason {
  color: rgb(0, 204, 255);
  animation: textappear 2s ease-in-out 0s 1;
  -webkit-text-stroke-color: black;
}
.introText {
  position: relative;
}
.cursor {
  animation: textappear 0.5s ease-in infinite;
  position: relative;
  left: -8px;
  font-size: 35px;
}
.intro > div > .rotate {
  transform: rotate(90deg);
  font-size: 30px;
  font-weight: bolder;
  animation: flash 2s ease-in infinite;
}

.home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.home > h3 > div {
  display: flex;
  flex-direction: column;
}

.home {
  /* animation: flyin 1.8s ease-out 0s 1; */
  box-sizing: border-box;
  margin-bottom: 30px;
}

/* add delay for child cards */

.show:nth-child(n) {
  transition-delay: 200ms;
}
.show:nth-child(2n) {
  transition-delay: 400ms;
}

.weblink {
  position: relative;
  top: 2px;
}

.skillContainer > h1 {
  padding-top: 10px;
  margin: 0px;
}

.weblink {
}
/* footer */

footer {
  border-top: 1px solid black;
}
/* button project links*/
.links > div > .link {
  background-color: white;
  padding: 7px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  main > h1,
  h4 {
    position: relative;
    animation: textflyin 0.9s ease-in 0s 1;
  }
  p {
    animation: textappear 2s cubic-bezier(0.78, -0.43, 0.18, 1) 0s 1;
  }
}

@keyframes textflyin {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes textappear {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes flyin {
  from {
    transform: translateY(-900vh);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes flash {
  from {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 28px;
  }
  .home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.flexcol {
  display: flex;
  flex-direction: column;
}
.flexrow {
  display: flex;
  flex-direction: row;
}
.flexend {
  justify-content: end;
}
.flexycenter {
  align-items: center;
}

.centerxy {
  align-items: center;
  justify-content: center;
}
.verticalalign {
  text-align: center;
  vertical-align: middle;
}
.circle {
  border-radius: 50%;
}

.left {
  width: 30px;
  text-align: left;
}
.right {
  text-align: right;
  width: 400px;
}
.infoContainer {
  display: flex;
  flex-direction: column;
}
li {
  list-style: none;
}

.hobbiesMargin {
  margin: 0px;
}
@media (max-width: 450px) {
  left {
    width: 30px;
    text-align: left;
  }
  .right {
    text-align: right;
    width: 330px;
  }
}
